::-webkit-scrollbar {
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f6f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(231, 231, 231);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(218, 218, 218);
  border-radius: 10px;
}

h1 {
  font-size: 51.05px;
  margin: 0 !important;
}

h2 {
  margin: 0 !important;
}

h3 {
  font-size: large;
  margin: 0 !important;
}

h4 {
  font-size: larger;
  margin: 0 !important;
}

h5 {
  font-size: medium;
  margin: 0 !important;
}

h6 {
  font-size: small;
  margin: 0 !important;
}

p {
  font-size: 14px;
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

a:hover {
  color: aquamarine;
}
.bold {
  font-weight: 700;
}

p {
  font-size: 14px;
  margin: 0 !important;
}
.font_14 {
  font-size: 14px !important;
}
.font_16 {
  font-size: 16px !important;
}
.font_18 {
  font-size: 18px !important;
}
.font_26 {
  font-size: 26px !important;
}
.searchbar {
  max-width: 400px;
  width: inherit;
  margin: 0 20px;
}
