.badge_body {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  margin: 0 0 1.25rem 0;
}
.badge_pill {
  border-radius: 1.875rem;

  height: 1.5625rem;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 0.9375rem;
}
